body {
  margin: 0;
}

/*h1 = big titles*/
h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

/*h2 = subtitles*/
h2 {
  font-size: 2rem;
}
/*h3 = small subtitles*/
/*h4 = larger text*/
h4 {
  font-weight: normal;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
